<div class="w-full bg-white flex flex-col items-center p-6">
  <div class="w-full bg-gray-50 p-6 shadow-md">

    <!-- Header with Discard Filter btn -->
    <div class="flex justify-between items-center">
      <h2 class="text-gray-700 font-semibold text-md">CUSTOMER FILTER</h2>
      <button class="text-red-500 text-sm bg-transparent border-none cursor-pointer font-semibold" (click)="discardFilters()">Discard filters</button>
    </div>

    <!--    Form with loop overs steps-->
    <form [formGroup]="filterForm" (ngSubmit)="applyFilters()">

      <!--    Steps wrapper-->
      <div class="bg-white p-4 mt-4 shadow">
        <div formArrayName="steps">
          @for (step of filterService.steps.controls; track step; let i = $index) {
            <app-filter-step [stepFormGroup]="$any(step)" [stepIndex]="i" [eventList]="eventList" [formGroupName]="i"></app-filter-step>
          }
        </div>

        <!-- Centered Add Funnel Step btn -->
        <div class="flex justify-center mt-4">
          <button (click)="filterService.addStep()" class="text-cyan-400 text-sm bg-transparent border-none cursor-pointer font-semibold">+ ADD FUNNEL STEP</button>
        </div>
      </div>

      <!--      Apply filters btn-->
      <div class="flex justify-between items-center mt-6">
        <button type="submit" class="bg-yellow-400 text-black px-6 py-2 hover:bg-yellow-500 border border-yellow-400 font-semibold">Apply filters</button>
      </div>
    </form>
  </div>
</div>


