<div [formGroup]="attributeRuleFormGroup()" class="flex items-center gap-4 relative">
  @if (index() === 0) {
    <span class="horizontal-line-long line bg-gray-300"></span>
  }
  @if (index() > 0) {
    <span class="text-gray-400 font-medium absolute -left-13 top-6">AND</span>
    <span class="horizontal-line-short bg-gray-300"></span>
    <span class="vertical-line bg-gray-300"></span>
  }
  @if (attributeDropdownShowed()) {
    <app-autocomplete-dropdown [eventList]="eventList()"
                               [selectedEvent]="selectedEvent()"
                               (onSelectOption)="selectAttribute($event)"
                               formControlName="attribute"></app-autocomplete-dropdown>
  }
  @if (selectedAttribute()) {
    <app-operator-dropdown [selectedAttribute]="selectedAttribute()"
                           (onSelectOption)="selectOperator($event)"
                           formControlName="operator"></app-operator-dropdown>
    <input formControlName="value1" [placeholder]="placeholder()" class="mt-4 py-2 px-4 border border-gray-300 text-gray-500 bg-white focus:outline-none w-50"/>
    @if (valuesCount() === 2) {
      <span class="text-gray-500 mt-4">and</span>
      <input formControlName="value2" [placeholder]="placeholder()" class="mt-4 py-2 px-4 border border-gray-300 text-gray-500 bg-white focus:outline-none w-50"/>
    }
  }

  <!--  remove attribute rule button-->
  <button (click)="remove()" class="mt-4 cursor-pointer">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-6 text-gray-400">
      <path d="M6.28 5.22a.75.75 0 0 0-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 1 0 1.06 1.06L10 11.06l3.72 3.72a.75.75 0 1 0 1.06-1.06L11.06 10l3.72-3.72a.75.75 0 0 0-1.06-1.06L10 8.94 6.28 5.22Z" />
    </svg>
  </button>
</div>
