<div>
  {{ stepIndex() + 1 }}. Step: {{ selectedEvent()?.type }}
  <button type="button" (click)="filterService.removeStep(stepIndex())">Remove Step</button>
</div>

<div [formGroup]="stepFormGroup()">
  <app-autocomplete-dropdown [eventList]="eventList()"
                             (onSelectOption)="selectEvent($event)"
                             formControlName="eventName"></app-autocomplete-dropdown>
  <div formArrayName="attributeRules">
    @for (rule of filterService.getAttributeRules(stepIndex()).controls; track rule; let j = $index) {
      @if (selectedEvent() && !attributeDropdownOpened()) {
        <button (click)="showAttributeDropdown()">+Add an event attribute</button>
      }
      <div [formGroupName]="j">
        @if (attributeDropdownOpened()) {
          <app-autocomplete-dropdown [eventList]="eventList()"
                                     [selectedEvent]="selectedEvent()"
                                     (onSelectOption)="selectAttribute($event)"
                                     formControlName="attribute"></app-autocomplete-dropdown>
        }
        @if (selectedAttribute()) {
          <app-operator-dropdown [selectedAttribute]="selectedAttribute()" formControlName="operator"></app-operator-dropdown>
<!--          <input formControlName="operator" placeholder="Operator"/>-->
<!--          <input formControlName="value" placeholder="Value"/>-->
        }
        <!--        <button type="button" (click)="filterService.removeAttributeRule(stepIndex(), j)">Remove Rule</button>-->
      </div>
    }
  </div>

    <button type="button" (click)="filterService.addAttributeRule(stepIndex())">Add Attribute Rule</button>
</div>
<hr>
