<div appClickOutside (clickOutside)="closeDropdown()">
  <select (mousedown)="openDropdown($event)">
    <option value="{{ selectedOptionName() }}" selected>
      @if (!selectedOptionName()) {
        {{ !selectedEvent() ? 'Select an event' : 'Select an attribute' }}
      } @else {
        {{ selectedOptionName() }}
      }
    </option>
  </select>

  @if (dropdownPanelOpened()) {
    <div>
      @if (selectedEvent()) {
        {{ selectedEvent()?.type }}
      }
      <app-input-search [placeholder]="!selectedEvent() ? 'Select an event' : 'Select an attribute'" (onSearch)="searchTerm.set($event)"></app-input-search>
      <ul>
        @for (option of filteredOptions(); track option) {
          <li (click)="selectOption(option)">
            @if (isEvent(option)) {
              {{ option.type }}
            } @else if (isAttribute(option)) {
              {{ option.property }}
            }
          </li>
        }
      </ul>
    </div>
  }
</div>
